colorlog==6.8.2
datasets==2.20.0
hivemind @ git+https://github.com/learning-at-home/hivemind@1.11.11
hf-transfer==0.1.8
peft==0.13.2
tensorboard==2.17.0
transformers==4.52.3
trl==0.17.0 # Sesuai permintaan Anda, namun perhatikan catatan di atas
web3==6.18.0
